.form-container {
    position: relative;
    background-color: var(--bs-body-bg);
}

.loading-container {
    display: none;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.upload-btn {
    margin-left: .8rem;
}
