* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
}
.page-wrapper {
    display: grid;
    grid-template-areas: "header header header"
                         "content content content";
    grid-template-rows: 75px 1fr;
    grid-template-columns: 5rem 1fr 5rem;
    min-height: 100%;
    max-height: max-content;
}
.navigation-bar {
    z-index: 1000 !important;
}
.header {
    background-color: #8ca0ff;
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-area: content;
    padding: 0 2.5rem;
    /*background-color: #ffa08c;*/
    background-color: #212529;
}
.swiper {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    width: max-content;
    max-width: min(100%, 125rem);
    height: 16rem;
}
.swiped-items {
    height: 100%;
    margin: 0 !important;
    padding: .8rem 0 !important;
    overflow-x: inherit!important;
}
.swiped-items::-webkit-scrollbar {
    display: none;
}

.swiped-item {
    position: relative;
    height: 100% !important;
    margin: 0 1.5rem 0 0 !important;
    padding: 0 !important;
    width: min(100%, 125rem);
    /*box-shadow: 3px 3px rgba(255, 255, 255, .9),*/
    /*            8px 7px 3px rgba(0, 0, 0, .5);*/

    box-shadow: 2px 2px 8px var(--random-color),
                3px 3px 8px rgba(255, 255, 255, .8);
}

.like-heart {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
}
.like-heart i {
    color: white;
    pointer-events: none;
}

.upper-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: scale(1, 0);
    pointer-events: none;
}

.upper-cover span {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .2rem .4rem;
    color: rgba(255, 255, 255, 1);
}

.swiped-item:hover .upper-cover {
    transform: scale(1, 1);
    background-color: rgba(168, 168, 168, .4);
}

.swiped-item:hover .like-heart {
    display: block;
}
.like-heart:hover i {
    color: red;
}
.like-heart-active i {
    color: red !important;
}

.swiped-item::-webkit-scrollbar {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: .5rem;
}
.arrow-right {
    right: .5rem;
}

.fas {
    background-color: transparent;
    color: red;
}

.navigation-bar {
    height: 100%;
}

div.gif-detailed {
    padding: 20px;
    border: 1px solid rgb(97, 71, 97);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    display: table;
    width: 100%;
    height: 65%;
}

div.gif-detailed p {
    font-size: 1.25em;
    color: #eee;
}

div.gif-detailed div.image-container {
    width: 50%;
    display: table-cell;
    padding: 20px;
    margin: 10px;
    border-right: 1px solid rgb(112, 112, 112);
}

div.gif-detailed div.image-container img {
    width: 100%;
    height: 100%;
    max-height: 35rem;
}

div.gif-detailed div.info-container {
    padding: 20px;
    margin: 10px;
    vertical-align: top;
    display: table-cell;
    text-align: left;
    width: 70%;
    height: 100%;
}

div h1, h2, h3 {
    color: goldenrod;
}

.general-container {
    margin-top: 30px;
}

.random-heading {
    margin-top: 60px;
}

.infinite-section {
    margin-left: 55px;
}
